.module {
  padding: 30px;
  background: red;
}
.module1 {
  padding: 30px;
  background: green;
  color: white;
}
.selected {
  border: solid;
  border-color: gray;
}
.border {
  border: solid;
  border-color: gray;
}
.list-items {
  border: solid;
  border-width: 1px;
  border-color: black;
}
.uList {
  list-style: none;
}
.current {
  background: green;
}
.div-module {
  display: none;
}
.submenu {
  display: none;
}
.images-div img {
  display: none;
}
.images-div .active {
  display: inline-block;
}
